.header
{
    height: 200px;
    background-color: white;
    padding: 10px 13%;
    box-sizing: border-box;
}

.header__main
{
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__logo-add {
    max-height: 100px; 
    cursor: pointer; 
}

.header__search
{
    margin: 0 80px;
    height: 45px;
    flex: 1;
    border: 1px solid #535255;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.header__items
{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.header__items-option
{
    margin-left: 50px;
    cursor: pointer
}

.header__menu
{
    display: flex;
    margin-left: 230px;
}
.header__menu-option
{
    font-size: 18px;
    margin-right: 80px;
    cursor: pointer;
}

footer
{
    margin-top: 40px;
    height: 400px;
    width: 100vw;
    background-color: #1a1a1a;
}

.footer__information
{
    padding: 40px 120px;
    display: flex;
    height: 100%;
}

.footer__information-overview
{
    color: white;
    font-size: 18px;
    height: 50px;
    width: 500px;
    font-weight: 700;
    padding: 20px 0;
    margin-bottom: 10px;
}

.footer__content
{
    color: #999999;
    font-size: 14px;
    flex-wrap: wrap;
}

.footer__information-support
{
    flex: 1;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0;
    margin-bottom: 10px;
}


