.header
{
    height: 200px;
    background-color: white;
    padding: 10px 13%;
    box-sizing: border-box;
}

.header__main
{
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__logo-add {
    max-height: 100px; 
    cursor: pointer; 
}

.header__search
{
    margin: 0 80px;
    height: 45px;
    flex: 1;
    border: 1px solid #535255;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.header__items
{
    display: flex;
    align-items: center;
    font-size: 18px;
}

.header__items-option
{
    margin-left: 50px;
    cursor: pointer
}

.header__menu
{
    display: flex;
    margin-left: 230px;
}
.header__menu-option
{
    font-size: 18px;
    margin-right: 80px;
    cursor: pointer;
}

