.header
{
    height: 122px;
    background-color: white;
}

.header__main
{
    display: flex;
    align-items: center;
    padding: 10px 210px ;

}

.header__logo-add {
    max-height: 100px;  
}

.header__search
{
    margin: 0 80px;
    height: 45px;
    width: 550px;
    border: 1px solid #535255;
    border-radius: 5px;
    background-color: #fff;

}

.header__login
{
    color: #fff;
}

